/* 共通 css */
:root {
    --font-color: #24292E;
    --border-color: #C8C8C8;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: Meiryo, sans-serif;
    margin: unset;
}
img {
    display: block;
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, p, ol, ul, dl, dd {
    margin: unset;
    padding: unset;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
li {
    font-size: 12.8px;
}
p, dt, dd, label, button {
    font-size: 14.4px;
}
p.copy {
    font-size: 8px;
}
div.container {
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
h2 {
    margin-bottom: 40px;
    text-align: center;
}
p:not(:last-of-type) {
    padding-bottom: 30px;
}
header {
    margin-top: 20px;
    margin-bottom: 10px;
}
header div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    padding-bottom: 10px;
}
header img.logo {
    width: 120px;
    height: 27px;
}
header ul {
    display: flex;
}
header li:not(:last-of-type) {
    padding-right: 20px
}
header img.icon-instagram {
    width: 20px;
    height: 20px;
}
div.mainvisual img {
    height: 420px;
    object-fit: cover;
}
section {
    margin: 70px 0;
}
section.about {
    margin-top: 80px;
}
section.works {
    margin-bottom: 90px;
}
section.works div.images {
    padding-top: 3px;
}
section.works img:not(:last-of-type) {
    padding-bottom: 23px;
}
section.news dl {
    border-top: 1px solid var(--border-color);
    padding: 15px;
}
section.news dl:last-of-type {
    border-bottom: 1px solid var(--border-color);
}
div.input_group {
    display: flex;
    flex-direction: column;
}
input {
    border: 1px solid var(--border-color);
    height: 44px;
    margin-bottom: 10px;
}
textarea {
    border: 1px solid var(--border-color);
    height: 166px;
    margin-bottom: 30px;
}
button {
    display: block;
    margin: 0 auto;
    padding: 15px 85px;
    border: unset;
    background-color: var(--font-color);
    color: #ffff;
}
footer {
    background-color: var(--font-color);
}
footer p {
    color: #ffff;
    padding: 10px 0;
    text-align: center;
}


@media (min-width: 600px) {
  /* 大型の画面向けの CSS */

h2 {
    margin-bottom: 65px;
}
section {
    margin: 130px 0;
}
header {
    margin: 121px 0;
}
header div.container {
    flex-direction: row;
    justify-content: space-between;
}
header h1 {
    padding-bottom: unset;
}
section.works div.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section.works img {
    width: 266px;
    padding-bottom: 23px;
}
section.news {
    margin-top: 127px;
}
section.news dl {
    display: flex;
}
section.news dt {
    padding-right: 78px;
}
div.input_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input, textarea {
    width: 729px;
}
}
